.titulo, .subtitulo {
    text-align: center;
    font-family: 'Arial', sans-serif;
   color:rgb(8, 243, 255); 
}
.paragrafo {
    text-align:left;
    font-family: 'Times New Roman', serif;
    color:rgb(8, 243, 255);
    margin: 20px;
    font-size: 25px;
    justify-content:left;
    margin-left: 50px;
    margin-right: 50px;


}

